.link-tag {
  border: solid 1px var(--clr-blue-main);
  border-radius: var(--br-small);
  padding: 0.3em 0.7em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-regular);
  margin-bottom: 1em;
  cursor: pointer;
}

.link-tag__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-blue-main);
  margin-right: 0.5em;
}

.link-tag__text {
  color: var(--clr-body-tertiary);
}

@media (hover: hover), (-ms-high-contrast: none) {
  .link-tag:hover {
    background-color: var(--clr-orange-trans-01);
    border: solid 1px var(--clr-orange);
  }
}
