.hero {
  position: relative;
  height: 75vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-position: center;
  object-fit: contain;
  padding: 2.4rem;
  color: var(--clr-white);
  border-radius: var(--br-regular);
  box-shadow: var(--bs-regular);
  margin-bottom: 2em;
  overflow-x: hidden;
}

.hero__title {
  color: var(--clr-white);
  width: fit-content;
  z-index: 1;
  padding-bottom: 0.2em;
  border-bottom: 3px solid var(--clr-orange);
}

.hero__description {
  color: var(--clr-white);
  z-index: 1;
}

@media (min-width: 1000px) {
  .hero {
    padding: 4.8em;
  }
}

@media (min-width: 1200px) {
  .hero {
    padding: 9.6em;
  }
}
