.movie-card {
  display: flex;
  flex-direction: column;

  align-items: center;
  margin: 4.8rem 0;
}

.movie-card__img__container {
  position: relative;
  border-radius: var(--br-big);
  box-shadow: var(--bs-small);
  width: 24rem;
  height: 36rem;
}

.movie-card__img {
  border-radius: inherit;
}

.movie-card__title {
  color: var(--clr-body-tertiary);
  text-align: center;
  padding-bottom: 0.2em;
  margin-bottom: 0;
}

.movie-card__rating {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating__stars {
  margin-right: 0.5em;
}

.rating__star,
.rating-number {
  color: var(--clr-body-tertiary);
}
.rating__star {
  font-size: 2rem;
  margin: 0.1em;
}
.rating-number {
  font-weight: var(--fw-bold);
}
