.movie-detail__tagline {
  font-size: var(--fs-h3);
  font-weight: var(--fw-medium);
  text-align: center;
  margin-bottom: 1em;
}

.movie-detail__genres {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1.6em 0;
}

.movie-detail__runtime {
  text-align: center;
  font-weight: var(--fw-medium);
}

.movie-detail__genres {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.movie-detail__section {
  margin-bottom: 3em;
}

.top-cast__profiles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

.profile__img {
  /* border: solid 1px var(--clr-body-tertiary); */
}

.profile__name,
.profile__character {
  text-align: center;
}

@media (min-width: 500px) {
  .top-cast__profiles {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1000px) {
  .top-cast__profiles {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  .top-cast__profiles {
    grid-template-columns: repeat(6, 1fr);
  }
}

.top-cast__profile {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.profile__img {
  border-radius: var(--br-big);
  object-fit: cover;
  width: 10rem;
  height: 14rem;
}

@media (min-width: 800px) {
  .profile__img {
    width: fit-content;
    height: fit-content;
  }
}

.profile__name {
  font-weight: var(--fw-medium);
  padding: 0.5em;
}

.profile__character {
  font-size: var(--fs-regular);
}

.movie-detail__tags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}
