.header {
  background-color: var(--clr-blue-main);
  color: var(--clr-blue-light);
  position: fixed;
  padding: 0.3em;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-shadow: var(--bs-small);
  z-index: 1;
}
.header__btn-menu {
  background-color: unset;
  color: var(--clr-white);
  border: unset;
  cursor: pointer;
}

.header__search {
  display: flex;
  align-items: center;
}

.header__search input {
  color: var(--clr-gray-dark);
  width: 100%;
  border: unset;
  padding: 0.3em;
  border-radius: var(--br-small);
}

.header__icon {
  font-size: 2.4rem;
  margin: 0.4em;
}

.header__search__icon {
  margin-left: 0;
}
