.header {
  --clr-header-primary: var(--clr-blue-main);
  --clr-header-secondary: var(--clr-blue-dark);

  height: 6rem;
  background-color: var(--clr-header-primary);
  position: fixed;
  padding: 0.3em;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-shadow: var(--bs-small);
  z-index: 1;
  transition: all 0.2s ease-out;
}

.header.dark {
  --clr-header-primary: var(--clr-blue-dark-tint-01);
  --clr-header-secondary: var(--clr-blue-light);
}

@media (min-width: 800px) {
  .header {
    justify-content: center;
    padding-left: 40vw;
  }
}

@media (min-width: 1000px) {
  .header {
    padding-left: 20vw;
  }
}

.header__btn-menu {
  background-color: unset;
  color: var(--clr-header-secondary);
  padding: 0 0.5em;
  border: unset;
  cursor: pointer;
}

.header__search {
  display: flex;
  align-items: center;
}

.header__search input {
  width: 100%;
  border: unset;
  padding: 0.3em;
  border-radius: var(--br-small);
}

.header__icon {
  font-size: 2.4rem;
  margin: 0.4em;
}

.header__search__icon {
  margin-left: 0;
}
