.side-menu {
  --clr-menu-primary: var(--clr-blue-main-tint-01);
  --clr-menu-secondary: var(--clr-blue-dark);
  --clr-logo-primary: var(--clr-blue-dark);
  --clr-logo-secondary: var(--clr-blue-light);

  background-color: var(--clr-menu-primary);
  color: var(--clr-menu-secondary);
  box-shadow: var(--bs-regular);
  width: 60vw;
  height: 100vh;
  right: 0;
  opacity: 0;
  overflow-y: scroll;
  visibility: hidden;
  transform: translateX(100%);
  transition: all 0.4s ease-out;
  position: fixed;
  z-index: 100;
}

.side-menu--shown {
  visibility: visible;
  transform: translateX(0);
  opacity: 1;
}

.side-menu.dark {
  --clr-menu-primary: var(--clr-blue-dark-shade-02);
  --clr-menu-secondary: var(--clr-blue-light);
  --clr-logo-primary: var(--clr-blue-main);
  --clr-logo-secondary: var(--clr-blue-dark);
}

.side-menu__logo {
  width: 100%;
  height: 6rem;
  text-align: center;
  letter-spacing: 1px;
  background-color: var(--clr-logo-primary);
  color: var(--clr-logo-secondary);
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
  padding: 0.6em;
}

.side-menu__title,
.side-menu__link {
  padding-left: 2.4rem;
}

.side-menu__title {
  color: var(--clr-menu-secondary);
  font-size: 1.8rem;
  padding: 1em;
}

.side-menu__link {
  margin-bottom: 1em;
  width: 100%;
}

@media (min-width: 600px) {
  .side-menu {
    width: 40vw;
    grid-column: 1;
    grid-row: 1;
  }
}

@media (min-width: 800px) {
  .side-menu {
    left: 0;
    position: relative;
    grid-column: 1;
    grid-row: 1 / 3;
    width: 30vw;
  }
}

@media (min-width: 1000px) {
  .side-menu {
    width: 20vw;
  }
}
