.side-menu {
  background-color: var(--clr-white);
  color: var(--clr-blue-dark);
  width: 70vw;
  height: 100vh;
  right: 0;
  opacity: 0;
  overflow-y: scroll;
  visibility: hidden;
  transform: translateX(100%);
  transition: all 0.4s ease-out;
  position: fixed;
  z-index: 100;
}

.side-menu--shown {
  visibility: visible;
  transform: translateX(0);
  opacity: 1;
}

.side-menu__logo {
  width: 100%;
  text-align: center;
  letter-spacing: 1px;
  background-color: var(--clr-blue-dark);
  color: var(--clr-blue-light);
  font-size: var(--fs-h2);
  font-weight: var(--fw-bold);
  padding: 0.6em;
}

.side-menu__title,
.side-menu__link {
  padding-left: 2.4rem;
}

.side-menu__title {
  color: var(--clr-blue-dark);
  font-size: 1.8rem;
  padding-top: 1em;
}

.side-menu__link {
  font-size: var(--fs-regular);
  margin-bottom: 1em;
  width: 100%;
  cursor: pointer;
}

.side-menu__link a {
  display: flex;
  align-items: center;
}

.link__logo {
  color: var(--clr-blue-main);
  font-size: 2.6rem;
  margin-right: 0.8em;
}
