.actor__img {
  border-radius: var(--br-big);
  max-height: 50vh;
  box-shadow: var(--bs-regular);
  margin: 0 auto;
  margin-bottom: 3em;
}

.actor__birthday {
  font-size: var(--fs-regular);
  font-weight: var(--fw-medium);
  margin-bottom: 1em;
}

.actor__bio {
  margin-bottom: 2em;
}

.actor__tags {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-bottom: 3em;
}

@media (min-width: 1000px) {
} ;
