.movie-cards {
  display: grid;
  gap: 1em;
  justify-content: center;
}

.pagination {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pagination__number {
  color: var(--clr-body-secondary);
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
  padding: 0.5em 1em;
}

@media (min-width: 800px) {
  .movie-cards {
    gap: 2em;
  }
}
