.nav-btn {
  background-color: var(--clr-body-primary);
  color: var(--clr-body-tertiary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  padding: 0.5em;
  border: solid 1px var(--clr-body-tertiary);
  border-radius: 50%;
  font-family: var(--ff-open-sans);
  cursor: pointer;
}

.nav-btn:disabled {
  opacity: 0.2;
  pointer-events: none;
  cursor: auto;
}

.nav-btn:hover {
  background-color: var(--clr-orange-trans-01);
  border: solid 1px var(--clr-orange);
}
