@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

/* Color palette 
https://coolors.co/palette/3d5a80-98c1d9-e0fbfc-ee6c4d-293241
*/

/* --------------
//  BASIC RESET
----------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

/* --------------
//  CUSTOM PROPS
----------------- */
:root {
  font-size: 62.5%;
  scroll-behavior: smooth;

  /* Typography */
  --ff-lato: "Lato", sans-serif;
  --fw-regular: 300;
  --fw-medium: 500;
  --fw-bold: 700;
  --fs-h1: 4.8rem;
  --fs-h2: 4rem;
  --fs-h3: 2.4rem;
  --fs-input: 2rem;
  --fs-regular: 1.6rem;
  --fs-small: 1.3rem;

  /* Colors */
  --clr-blue-main-tint-01: hsl(197, 38%, 85%);
  --clr-blue-main: #68a3bb;

  --clr-blue-dark-tint-01: hsl(203, 31%, 35%);
  --clr-blue-dark: hsl(203, 31%, 21%);
  --clr-blue-dark-shade-02: hsl(203, 31%, 15%);

  --clr-blue-light: #ccf6ff;

  --clr-orange-trans: rgbrgba(247, 210, 161, 0);
  --clr-orange-trans-01: rgba(247, 210, 161, 0.1);
  --clr-orange: hsl(34, 84%, 54%);

  --clr-white: hsl(210, 17%, 98%);

  --clr-gray-dark: hsl(210, 10%, 23%);

  /* Border Radius */
  --br-small: 4px;
  --br-regular: 8px;
  --br-big: 16px;

  /* Box shadow */

  --bs-small: hsla(210, 8%, 62%, 0.2) 0px 8px 24px;
}

/* --------------
//  GENERAL
----------------- */
body {
  font-family: var(--ff-lato);
}

.body {
  --clr-body-primary: var(--clr-white);
  --clr-body-secondary: var(--clr-gray-dark);
  --clr-body-tertiary: var(--clr-blue-dark);

  font-size: var(--fs-regular);
  font-family: var(--ff-lato);
  background-color: var(--clr-body-primary);
  color: var(--clr-body-secondary);
  position: relative;
  transition: all 0.2s ease-out;
}

.body.dark {
  --clr-body-primary: var(--clr-blue-dark);
  --clr-body-secondary: var(--clr-white);
  --clr-body-tertiary: var(--clr-blue-light);
}

@media (min-width: 800px) {
  .body {
    display: grid;
    grid-template-columns: 1fr 5fr;
  }
}

a,
a:visited {
  color: black;
  text-decoration: none;
}

/* --------------
  //  TYPOGRAPHY
  ----------------- */
h1,
h2,
h3 {
  font-weight: var(--fw-bold);
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
  margin: 0.5em 0;
}
h3 {
  font-size: var(--fs-h3);
  margin: 0.5em 0;
}

p {
  font-size: var(--fs-regular);
  font-weight: var(--fw-regular);
  line-height: 1.5;
}

input {
  font-family: var(--ff-lato);
  font-size: var(--fs-input);
}

/* --------------
  //  LAYOUT
  ----------------- */
.container {
  padding: 8.6rem 2rem 2.4rem 2rem;
  min-height: 100vh;
  position: relative;
  scroll-behavior: smooth;
}

@media (min-width: 800px) {
  .container {
    grid-column: 2;
    height: 100vh;
    overflow-y: scroll;
  }
}

@media (min-width: 800px) {
  .container {
    padding: 8.6rem 7.2rem 2.4rem 7.2rem;
  }
}

/* --------------
  //  HELPERS
  ----------------- */

.scroll-disabled {
  overflow: hidden;
}
