.pagination {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pagination__number {
  color: var(--clr-body-secondary);
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
  padding: 0.5em 1em;
}
